<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta http-equiv="content-type"
         content="text/html;charset=UTF-8">
        <title><%=title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <script src="/javascripts/jquery.min.js"></script>
    </head>

    <body>  
        <header>
            <h1><%=title %></title></h1>
        </header>
        <div role="main">
            <p class="attention">結果は以下の通り</p>
            <p><%= content1 %></p>
            <p><%= content2 %></p>
            <p class="attention"><%= content3 %></p>

            <p><a href="<%=link.herf %>"><%=link.text %></a></p>
        </div>
    </body>
</html>